USE [MommyCookBookDB]
GO
/****** Object:  StoredProcedure [dbo].[spRecipe_UpdateDelete]    Script Date: 11/19/2025 2:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spRecipe_UpdateDelete] 
	-- Add the parameters for the stored procedure here
	@recipeID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update Recipe
	set IsDeleted = 1
	where recipeID= @recipeId
END
